* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.4), rgba(12, 3, 51, 0.4));
  position: relative;
}
.back-video {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.logo {
  width: 100px;
  margin-right: 40px;
  cursor: pointer;
}
.navbar {
  position: sticky;
  display: flex;
  width: 85%;
  justify-content: center;
  align-items: center;
  background: rgba(71, 3, 88, 0.7);
  border-radius: 60px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
}
.navbar ul li {
  display: inline-block;
  list-style: none;
  position: relative;
  padding: 0 15px;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}
.navbar ul li a:hover {
  color: rgba(225, 106, 255, 0.7);
}
.contact-us {
  margin: 0 0 0 60px;
  cursor: pointer;
  background: transparent;
  border: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
}
.contact-us:hover {
  background: #fff;
  color: rgba(201, 0, 252, 0.7);
}
.apply-now {
  margin-left: 10px;
  cursor: pointer;
  background: rgba(201, 0, 252, 0.7);
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
}
.apply-now:hover {
  background: #fff;
  color: rgba(201, 0, 252, 0.7);
}
.herotext-container {
  margin: 15px 100px;
}
.hero-text h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  color: #fff;
  text-transform: capitalize;
  max-width: 650px;
}
.hero-text p {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  max-width: 550px;
  padding: 20px 0;
}
.schedule {
  cursor: pointer;
  background: transparent;
  border: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
}
.schedule:hover {
  background: #fff;
  color: rgba(201, 0, 252, 0.7);
}
.apply-now2 {
  margin-right: 10px;
  cursor: pointer;
  background: #fff;
  border: none;
  color: rgba(201, 0, 252, 0.7);
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
}
nav .fa {
  display: none;
}
/* Media Queries */
@media (max-width: 390px) {
  .logo {
    width: 80px;
    margin-right: auto;
  }
  .herotext-container {
    margin: 150px 20px;
  }
  .hero-text h1 {
    font-size: 40px;
    color: #fff;
    max-width: 250px;
  }
  .hero-text p {
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    max-width: 500px;
    padding: 15px 0;
  }
  .navbar ul li {
    display: block;
  }
  .navbar ul li a {
    display: none;
  }
  .apply-now {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 20px;
    margin-right: 50px;
  }
  .navbar {
    display: flex;
    position: absolute;
    background: rgba(71, 3, 88, 0.7);
    width: 90%;
    top: 0;
    padding: 15px;
    border-radius: 60px;
    margin-left: 20px;
    margin-top: 30px;
  }
  .contact-us {
    display: none;
  }
  .schedule {
    padding: 10px 30px;
    font-size: 13px;
  }
  .apply-now2 {
    padding: 10px 40px;
    font-size: 13px;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}
